.hamburger {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 1em;
  background: none;
  border: 1px solid transparent;
  z-index: 1000;
}
.hamburger:focus {
  border: 1px solid black;
  border-radius: 8px;
}
.hamburger__box {
  position: relative;
  width: 25px;
  height: 15px;
}
.hamburger__inner, .hamburger__inner::before, .hamburger__inner::after {
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: black;
  left: 0;
  transition: transform 0.3s;
}
.hamburger__inner {
  top: 50%;
  transform: translateY(-50%);
}
.hamburger__inner::before {
  content: "";
  top: -8px;
  background-color: black;
}
.hamburger__inner::after {
  content: "";
  top: 8px;
  background-color: black;
}
.hamburger--active .hamburger__inner {
  background-color: transparent;
}
.hamburger--active .hamburger__inner:after {
  transform: translateY(-8px) rotate(-315deg);
}
.hamburger--active .hamburger__inner::before {
  transform: translateY(8px) rotate(315deg);
}

.hide {
  opacity: 0;
}

.section-padding {
  padding: 8rem 2rem;
  padding-bottom: 0;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  overflow: hidden;
}

.section-title {
  text-align: center;
  color: royalblue;
  text-transform: uppercase;
  font-family: "Dancing Script", cursive;
  font-size: 2rem;
  padding: 1em;
}

.nav__item--desktop {
  position: relative;
  transition: 0.3s;
}
.nav__item--desktop::before {
  position: absolute;
  content: "";
  height: 3%;
  background-color: royalblue;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 20%;
  z-index: -1;
  border-radius: 8px;
}

.nav__item--desktop:hover a {
  color: white !important;
}

.nav__item--desktop:hover::before {
  height: 100%;
  animation: test 0.1s linear forwards;
}

@keyframes test {
  from {
    width: 20%;
    height: 3%;
  }
  to {
    width: 120%;
    height: 100%;
  }
}
.adopt {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20rem;
  height: 95vh;
  margin: 0 auto;
}
.adopt .wrapper {
  max-width: 1400px;
}
.adopt .box {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 10px;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  margin-bottom: 7.2em;
}
.adopt .box__btn {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 4rem;
  background: none;
  border: none;
  color: royalblue;
  text-shadow: 1px 1px 1px black;
  cursor: help;
  z-index: 1;
}
.adopt .box__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  color: white;
  font-size: 2rem;
  text-shadow: 1px 1px 1px black;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-clip-path: circle(0% at 50% 90%);
          clip-path: circle(0% at 50% 90%);
  text-align: center;
  padding: 10px 10px;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 0.3s;
  overflow: hidden;
  word-wrap: break-word;
}
.adopt .box__btn:hover {
  transform: scale(1.1);
}
.adopt .box__btn:hover ~ .box__text {
  -webkit-clip-path: circle(100% at 50% 50%);
          clip-path: circle(100% at 50% 50%);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.adopt .box__title {
  color: royalblue;
  font-size: 3rem;
  text-shadow: 1px 1px 3px black;
  padding: 60px 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.adopt .one {
  background-image: url(/img/adopt/daschund-3672947_640.jpg);
}
.adopt .two {
  background-image: url(/img/adopt/dog-2098715_640.jpg);
}
.adopt .three {
  background-image: url(/img/adopt/dog-734687_640.jpg);
  background-position: center;
}
.adopt .four {
  background-image: url(/img/adopt/french-bulldog-4019784_640.jpg);
  background-position: center;
}
.adopt .fifth {
  background-image: url(/img/adopt/iceland-dog-1977418_640.jpg);
  background-position: center;
}
.adopt .sixth {
  background-image: url(/img/adopt/jumping-3681175_640.jpg);
  background-position: center;
}

.support-us {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10rem 2rem 3rem;
}
.support-us__ul--title {
  font-size: 2.2rem;
  padding-bottom: 2rem;
}
.support-us__li-item {
  margin-bottom: 10px;
  list-style: none;
  text-align: left;
  font-size: 1.8rem;
}
.support-us__li-item::first-letter {
  color: royalblue;
  font-size: 2rem;
  text-decoration: underline;
}
.support-us a {
  font-size: 2rem;
  text-decoration: none;
  color: goldenrod;
  text-decoration: underline;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Tajawal";
}

.page__title {
  position: fixed;
  top: 10px;
  left: 10px;
  font-family: "Dancing Script", cursive;
  font-size: 2rem;
  font-weight: bold;
  color: royalblue;
  letter-spacing: 3px;
  z-index: 1000;
  text-shadow: 0px 0px 1px black;
}
.page__title a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: rgba(20, 106, 164, 0.4);
  padding: 2.3em;
  transition: transform 0.3s;
  width: 100%;
  transform: translateX(100%);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  z-index: 900;
}
.nav__list {
  position: relative;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
}
.nav__item {
  list-style: none;
  text-align: center;
}
.nav__item a {
  text-decoration: none;
  color: white;
  padding: 1em;
  background-color: rgba(40, 57, 119, 0.9);
  border-radius: 8px;
  font-size: 26px;
  text-transform: uppercase;
  cursor: pointer;
  transition: padding 0.3s;
}
.nav__item a:hover {
  font-size: 30px;
}
.nav--active {
  transform: translateX(0);
}

.black-line {
  position: fixed;
  top: 0;
  height: 100px;
  background-color: rgba(9, 21, 52, 0.8);
  width: 100%;
  z-index: 300;
  opacity: 0;
  transition: all 0.3s;
}

.on {
  opacity: 0;
}

.desktop {
  position: fixed;
  z-index: 1000;
  color: #000;
  width: 65%;
  top: 30px;
  display: none;
  right: 0;
}
.desktop ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.desktop ul .nav__item--desktop a {
  text-decoration: none;
  color: royalblue;
  font-size: 3rem;
  text-transform: uppercase;
}

.header {
  height: 100vh;
}
.header__bg {
  position: relative;
  background-image: url(/img/dog-734688_1920.jpg);
  height: 100%;
  background-position: center;
  background-size: cover;
  z-index: -1;
}
.header__btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  cursor: pointer;
  height: 80px;
  background-color: transparent;
  border: none;
  transition: background-color 0.3s;
}
.header__btn a {
  padding: 1em;
}
.header__btn--text {
  text-decoration: none;
  font-size: 2.3rem;
  padding: 1em;
  color: black;
  transition: font-size 0.3s;
}
.header__btn a::before,
.header__btn a::after {
  content: "";
  position: absolute;
  width: 40%;
  height: 40%;
  transition: width 0.3s, height 0.2s, border-radius 0.5s;
}
.header__btn a::before {
  border-top: 2px solid royalblue;
  border-left: 2px solid royalblue;
  left: 0;
  top: 0;
}
.header__btn a::after {
  border-bottom: 2px solid royalblue;
  border-right: 2px solid royalblue;
  right: 0;
  bottom: 0;
}
.header__btn a:hover::after {
  border-top: 2px solid royalblue;
  border-left: 2px solid royalblue;
}
.header__btn a:hover::before {
  border-bottom: 2px solid royalblue;
  border-right: 2px solid royalblue;
}
.header__btn a:hover::after,
.header__btn a:hover::before {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

main .aboutus__box {
  padding: 1em;
}
main .aboutus__img {
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  width: 100%;
}
main .aboutus__title {
  font-size: 2rem;
  color: royalblue;
  margin: 10px auto;
  text-align: center;
}
main .aboutus__text {
  font-size: 1.5rem;
  text-align: center;
  color: black;
}

.contact .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.contact .socials {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
  color: royalblue;
  font-size: 2rem;
}
.contact .socials h3 {
  margin-bottom: 10px;
}
.contact .socials i {
  font-size: 2rem;
  margin-bottom: 10px;
  color: black;
}
.contact .adres {
  padding: 1em;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 2rem;
  color: black;
}
.contact .phone {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: black;
  font-size: 2rem;
  word-wrap: break-word;
  padding-bottom: 1em;
}

.footer {
  position: static;
  bottom: 0;
  height: 5vh;
  background-color: #000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer p {
  margin: 3px;
}

@media (min-width: 576px) {
  main .aboutus__title {
    font-size: 3rem;
  }
  main .aboutus__text {
    font-size: 2rem;
  }
  main .section-title {
    font-size: 3rem;
  }
}
@media (min-width: 996px) {
  .desktop {
    display: inline-block;
  }
  .hamburger {
    display: none;
  }
  .page__title {
    margin-top: 10px;
    font-size: 2.5rem;
  }
  .on {
    opacity: 1;
  }
  main .aboutus__box {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    justify-content: center;
    align-items: center;
  }
  main .aboutus__title {
    font-size: 3.5rem;
  }
  main .aboutus__text {
    margin-top: 20px;
    text-align: right;
    color: black;
    font-size: 2.5rem;
  }
  main .aboutus__img--second {
    order: 1;
  }
  main .aboutus__text--second {
    text-align: left;
  }
  .header__bg {
    background-image: url(/img/adopt/yorkbg.jpg);
    z-index: -1;
  }
  .support-us {
    padding-top: 15rem;
  }
  .support-us .support-us__ul {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .support-us__li-item {
    text-align: center;
    font-size: 2rem;
  }
  .support-us__li-item::first-letter {
    font-size: 3rem;
  }
}
.test {
  height: 100vh;
  background-color: red;
}/*# sourceMappingURL=main.css.map */