//burger icon

.hamburger {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 1em;
  background: none;
  border: 1px solid transparent;
  z-index: 1000;

  &:focus {
    border: 1px solid black;
    border-radius: 8px;
  }

  &__box {
    position: relative;
    width: 25px;
    height: 15px;
  }

  &__inner,
  &__inner::before,
  &__inner::after {
    @include burgerBtn;
  }

  &__inner {
    top: 50%;
    transform: translateY(-50%);
  }

  &__inner::before {
    content: '';
    top: -8px;
    background-color: black;
  }
  &__inner::after {
    content: '';
    top: 8px;
    background-color: black;
  }

  &--active {
    .hamburger__inner {
      background-color: transparent;
    }
    .hamburger__inner:after {
      transform: translateY(-8px) rotate(-315deg);
    }
    .hamburger__inner::before {
      transform: translateY(8px) rotate(315deg);
    }
  }
}

.section-padding {
  padding: 8rem 2rem;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  height: 100vh;
  overflow: hidden;
}


.hide {
  opacity: 0;
}