@media (min-width: 996px) {
	.desktop {
		display: inline-block;
	}

	.hamburger {
		display: none;
	}

	.page__title {
		margin-top: 10px;
		font-size: 2.5rem;
	}

	.on {
		opacity: 1;
	}

	main {
		.aboutus {
			&__box {
				display: flex;
				flex-direction: row;
				align-content: flex-end;
				justify-content: center;
				align-items: center;
			}

			&__title {
				font-size: 3.5rem;
			}

			&__text {
				margin-top: 20px;
				text-align: right;
				color: black;
				font-size: 2.5rem;
			}

			&__img--second {
				order: 1;
			}

			&__text--second {
				text-align: left;
			}
		}
	}

	.header {
		&__bg {
			background-image: url(../img/adopt/yorkbg.jpg);
			z-index: -1;
		}
	}

	.support-us {
		padding-top: 15rem;
		.support-us__ul {
			max-width: 1200px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		&__li-item {
			text-align: center;

			font-size: 2rem;
		}
		&__li-item::first-letter {
			font-size: 3rem;
		}
	}

	
}
