@import 'mixins';
@import 'components';

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  //   font-family: 'Dancing Script', cursive;
  font-family: 'Tajawal', sans-serif;
  overflow: hidden;
}

.nav__title {
  position: absolute;
}

// nav
.nav__desktop {
  display: none;
}

.hamburger {
  position: absolute;
  top: 13px;
  right: 13px;
  padding: 1em;
  border: 1px solid transparent;
  background: none;
  z-index: 500;

  &:focus {
    border: 1px solid black;
    border-radius: 5px;
  }

  &__box {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
  }

  &__inner,
  &__inner::before,
  &__inner::after {
    position: absolute;
    background-color: black;
    height: 3px;
    right: 0;
    width: 100%;
    transition: all 0.3s linear;
  }

  &__inner::before,
  &__inner::after {
    content: '';
  }

  &__inner::before {
    top: -10px;
  }

  &__inner::after {
    top: 10px;
  }
}

.hamburger--active .hamburger__inner {
  background-color: transparent;
}

.hamburger--active .hamburger__inner::before {
  transform: translateY(10px) rotate(-315deg);
}
.hamburger--active .hamburger__inner::after {
  transform: translateY(-10px) rotate(315deg);
}

.nav {
  transform: translateX(100%);
  transition: transform 0.3s;

  &__list {
    position: absolute;
    height: 100vh;
    background-color: #2e2e2e2e;
    width: 40%;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 70px;
  }

  &__item {
    position: relative;
    text-transform: uppercase;
    list-style: none;
    a {
      text-decoration: none;
      flex-wrap: wrap;
      font-size: 1.5rem;
      color: royalblue;
      padding: 0.5em;
    }
  }
}
.nav--active {
  transform: translateX(0);
}
