@import 'colors';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Geologica', sans-serif;
  background-color: $bg-color;
  color: $cit-color;
  font-size: 16px;
  font-size: 62.5%;
}

.burger-btn {
  position: fixed;
  top: 30px;
  right: 30px;
  padding: 1.5rem;
  z-index: 1000;
  border: 1px solid transparent;
  background: none;

  &:focus {
    border: 1px solid $cit-color;
    outline: none;
    border-radius: 8px;
  }

  &:hover {
    .burger-btn__bars::before,
    .burger-btn__bars::after {
      width: 100%;
    }
  }

  &__box {
    position: relative;
    width: 60px;
    height: 50px;
  }

  &__bars,
  &__bars::before,
  &__bars::after {
    position: absolute;
    content: '';
    height: 4px;
    right: 0;
    top: 0;
    background-color: $white-color;
    transition: width 0.3s;
  }

  &__bars {
    width: 100%;
    &::before {
      width: 60%;
      top: 23px;
    }
    &::after {
      width: 30%;
      top: 46px;
      transition-delay: 0.05s;
    }
  }
}

//header

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 60vh;
  background-image:  url('https://images.pexels.com/photos/6816860/pexels-photo-6816860.jpeg?cs=srgb&dl=pexels-gustavo-fring-6816860.jpg&fm=jpg');
  background-position: center;
  background-size: 100% 100%;
  background-attachment: scroll;
  object-fit: cover;
  &__title {
    position: relative;
    color: $bg-color;
    font-family: 'Lobster', cursive;
    font-size: 6.0em;
    font-weight: 300;
    margin-top: 10px;
    margin-right: 690px;

    &::after{
      position: absolute;
      bottom: -20px;
      left: -20px;
      height: 2px;
      width: 120%;
      content: '';
      background-color: $white-color;
      
      
    }
  }
}
